@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h2.h-producto {
    font-size: var(--fs-xl);
    font-weight: 700;
    line-height: 32px;
    word-spacing: -.1em;
}