.carro {
    padding: 1em;

    position: absolute;
    top: 4.5rem;
    transform: translateX(-10rem);
    z-index: 6;


    border-top: none;
    border-right: none;
    border-radius: 0 0 1em 1em;
}

@media screen and (max-width: 768px) {
    .carro {
        top: 4rem;
    }
}

.carro__header {
    text-align: center;
}

.carro__item-list {
    font-size: 18px;
    list-style: none;
    
    padding: 0 1em 1em 1em;
    margin: 0;
}


.carro__item {
    border-bottom: 2px solid #CCCCCC;
}
.carro__item:last-child {
    border-bottom: none;
}


.carro__item-count {
    display: inline-block;
    margin-left: auto;
}