.footer{
    width: 100%;
    background-color: #1a1a1a;
}
.footer__row--top{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 50px;
     padding: 45px 0px;
}
 
.footer__figure{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
 
.footer__img{
     width: 165px;
}
.footer__titulo{
     color: #fff;
     margin-bottom: 25px;
     font-size: 20px;
}
.footer__contenido{
     color: #efefef;
     margin-bottom: 10px;
}
.footer__icono:hover{
     color: aqua;
}
.footer__row--bottom{
     background-color: #1a1a1a;
     padding: 15px 10px;
     text-align: center;
     color:#fff;
}
.footer__small{
     font-size: 15px;
}

@media screen and (max-width:800px) {
    .footer__row--top{
         width: 90%;
         grid-template-columns: 1fr;
         grid-gap: 4rem;
         padding: 4rem 0px;
    }
}

.footer__social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .625rem;
}

.footer__icono {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width : 3rem;
    height: 3rem;
    color:#fff;
    background-color: #000000;
    transition: all 300ms ease;
}