{% extends 'base.html' %}

{% load static %}

{% block head %}

	{% comment %} <link rel="stylesheet" href="{% static 'core/css/pages/carro.css' %}"> {% endcomment %}

{% endblock head %}
{% block main %}
	<main class="main p-4 m-5">
		<div class="container my-5">
			<h2 class="text-center mb-5">Carrito de Compra</h2>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col" colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in carro %}
                                    <tr key="item_{{ item.id }}">
                                        <td id="item_nombre_{{ item.id }}">{{ item.nombre }}</td>
                                        <td id="item_precio_{{ item.id }}">{{ item.precio }}</td>
                                        <td id="item_cantidad_{{ item.id }}">{{ item.cantidad }}</td>
                                        <td id="item_subtotal_{{ item.id }}">{{ item.subtotal }}</td>
                                        <td id="item_edit_{{ item.id }}">
                                            <button class="btn btn-secondary" onclick="updateCartItem({{ item.id }})">Editar</button>
                                        </td>
                                        <td id="item_edit_{{ item.id }}" >
                                            <button class="btn btn-danger" onclick="deleteCartItem({{ item.id }})">Eliminar</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr class="text-light" style="background: #e4a950">
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td>Total: {{ total }}</td> 
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" onclick="buyCart()">Comprar</button>
                    </div>
                </div>
            </div>
		</div>
    </main>
{% endblock main %}

{% block scripts %}
    <script>
        const cart = [
            {% for item in carro %}
                {
                    id:{{ item.id }},
                    nombre:'{{ item.nombre }}',
                    precio:{{ item.precio }},
                    cantidad:{{ item.cantidad }}
                },
            {% endfor %}
        ];
    </script>
	<!-- Carro Script -->
	<script src="{% static 'core/js/views/carro.js' %}"></script>
{% endblock scripts %}