{% extends 'base.html' %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'core/css/pages/producto.css' %}">
{% endblock head %}

{% block main %}
	<main class="main p-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img class="w-100 rounded" src="{% static 'core/img/' %}{{ producto.img }}" alt="Producto">
				</div>
				<div class="col-md-8 ">
					<div class="ml-md-3">
					<h2 class="h-producto my-4">
						{{ producto.nombre }}
					</h2>

					<p>
						Descripción: <span class="font-italic">{{ producto.descripcion }}</span>
					<p>
						{{ producto.texto|linebreaks }}
					</p>

					{% if producto.stock <= 0 %}
						<p class="mt-5 font-weight-light">
							Este producto no esta dispoible porque no queda en stock
						</p>
					{% else %}
						{% comment %} 
							{
								'id': 2,
								'nombre': 'Foco Subaru Impresa',
								'precio': 30000,
								'img': 'repuestos/ARR_foco.JPEG',
								'descripcion': None,
								'texto': None,
								'stock': 6,
								'categoria': 4,
								'estado': None
							}
						{% endcomment %}
					
						
						<form id="addToCarro" method="POST">
							{% csrf_token %}
							<input type="hidden" name="id" value="{{ producto.id }}">
							{{ form.nombre }}
							{{ form.precio }}
							{{ form.categoria }}
							{{ form.estado }}
							<button type="submit" class="btn btn-primary">Añadir Producto</button>
						</form>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock main %}

{% block scripts %}
	{% comment %} <script type="module" src="{% static 'core/js/views/producto.js' %}"></script> {% endcomment %}
{% endblock scripts %}