{% extends 'base.html' %}

{% load static %}

{% block main %}
	<main class="main py-4 m-5">
		<!-- Productos -->
		<div class="container">

			<div class="row">
				{% for producto in page %}
					{% include "partials/tarjeta-producto.html" with producto=producto %}
				{% endfor %}
			</div>
		</div>

		<div class="container text-center my-5">
			<div class="btn-group" role="group">
				
				{% if page.has_previous %}
					<a
						type="button"
						class="btn btn-secondary"
						href="{% url 'tienda.page' page.previous_page_number %}"
					>
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
				{% endif %}
				{% for i in page.paginator.page_range %}
					<a
						type="button"
						class="btn btn-secondary {% if i == page.number %} active {% endif %}"
						href="{% url 'tienda.page' i %}"
					>
						{{ i }}
					</a>
				{% endfor %}
				{% if page.has_next %}
					<a
						type="button"
						class="btn btn-secondary"
						href="{% url 'tienda.page' page.next_page_number %}"
					>
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				{% endif %}
			</div>
		</div>
	</main>

	<!-- Modal -->
	{% include 'partials/modal-sin-stock.html' %}
{% endblock main %}